<main class="h-screen w-screen flex flex-col items-center justify-evenly p-0">
    <div class="boton-back flex mt-3 ml-10">
        <img class="h-11" src="./assets/flecha-izquierda.png" alt="flecha-izquiersda">
    </div>
    <div class="titulo">
        Elegí una categoria
    </div>
    <div class="w-screen h-3/4 flex flex-col items-center justify-evenly">
        <button class="w-1/2 text-center text-white boton rounded-3xl shadow-lg hover:cursor-pointer" (click)="enviarCategoria('paises')">
            Paises
        </button>
        <button class="w-1/2 text-center text-white boton rounded-3xl shadow-lg hover:cursor-pointer" (click)="enviarCategoria('capitales')">
            Capitales
        </button>
        <button class="w-1/2 text-center text-white boton rounded-3xl shadow-lg hover:cursor-pointer" (click)="enviarCategoria('series')">
            Series
        </button>
        <button class="w-1/2 text-center text-white boton rounded-3xl shadow-lg hover:cursor-pointer" (click)="enviarCategoria('peliculas')">
            Peliculas 
        </button>
        <button class="w-1/2 text-center text-white boton rounded-3xl shadow-lg hover:cursor-pointer" (click)="enviarCategoria('animales')">
            Animales
        </button>
    </div>

</main>